*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 10%;
    background-color: #0A100D;
    color: #D6D5C9;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
p { font-weight: 500; }
a {
    color: #D6D5C9;
}
a:hover, a:focus {
    color: #A22C29;
}
b { color: #B9BAA3; }